<p id="notice"><%= notice %></p>

<h1>Listing Alquilers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Num alquiler</th>
      <th>Fecha out</th>
      <th>Fecha in</th>
      <th>Pelicula</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alquilers.each do |alquiler| %>
      <tr>
        <td><%= alquiler.num_alquiler %></td>
        <td><%= alquiler.fecha_out %></td>
        <td><%= alquiler.fecha_in %></td>
        <td><%= alquiler.pelicula.titulo %></td>
        <td><%= alquiler.cliente.nombre %></td>
        <td><%= link_to 'Show', alquiler %></td>
        <td><%= link_to 'Edit', edit_alquiler_path(alquiler) %></td>
        <td><%= link_to 'Destroy', alquiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alquiler', new_alquiler_path %>
